<div class="row">
  <div class="d-inline-flex p-3">
    <div class="yourquestion">
      <%=params[:question] %>
    </div>
  </div>
</div>
<p> - you</p>


<div class="row">
  <div class="d-inline-flex p-3">
    <div class="answerbar">
      <%= @answer %>
    </div>
  </div>
</div>
<p> - The answer of the expert</p>



<div class="row">
  <div class="link">
    <%= link_to "Ask a new question", ask_path %>
  </div>
</div>
